.problem-container {
  // margin-top: 1rem;
  padding: 1rem;
  background: var(--color-theme-bg);
  border-radius: 0.5rem;
}

.problem-description {
}

.options-container {
}

.option-item {
}

.solution-container {
}
