@import "tailwindcss";

:root {
  font-family:
    Iosevka,
    Cascadia Code,
    Menlo,
    Microsoft YaHei,
    PingFang SC;

  color-scheme: light dark;

  --color-theme-a: #646cff;
  --color-theme-a2: #646cffaa;
  --color-theme-a3: #747bff;
  --color-theme-a4: #535bf2;

  --color-light-text: #213547;
  --color-light-bg: #fff;
  --color-light-bg2: #f9f9f9;

  --color-dark-text: rgba(255, 255, 255, 0.88);
  --color-dark-bg: #242424;
  --color-dark-bg2: #1a1a1a;

  --color-theme-vue: #41b883;
  --color-theme-vue2: #42b883aa;
  --color-theme-vue3: #35495e;

  --color-theme-react: #00d8ff;
  --color-theme-react2: #61dafbaa;

  color: var(--color-light-text);
  background-color: var(--color-light-bg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-light-text);
    background-color: var(--color-light-bg);
  }
}
